/* Applies to inline `code blocks` */
.highlighter-rouge {
	padding: 3px 4px;
    border: 1px solid $green;
    border-radius: 6px;
    background-color: #eee;
    color: $green;
	white-space: nowrap;
	
@media (prefers-color-scheme: dark) {
    background-color: #202020;
	}
}

/* Applies to all code blocks */
pre, code {
   font-family: $code-font-family;
   font-size: 85%;
   overflow: auto;
   background-color: #body-bg;
  
@media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
	}
}

// Gist via GitHub Pages
.gist .markdown-body {
  padding: 15px !important;
}
