// Masthead
//
// The style of the site's title and optional secondary description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $body-color;
  position: relative;
  
@media (prefers-color-scheme: dark) {
  color: $body-color-dark;
  }

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
